@use '../index.scss' as *;

.wrapper {
  --main-color: $secondary;
  position: relative;
}

.favorites {
  color: $secondary;
  // max-width: 40%;
  cursor: pointer;

  &.active {
    fill: $secondary;

    // fill: #e5524a;
    animation: scaleIcon 1.5s linear;

    path:nth-child(1) {
      stroke: $white;
    }
    path:nth-child(2) {
      opacity: 1 !important;
    }
  }
}

.favorites-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba($white, 0.11);
  padding: 40%;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.5s;
  &.active {
    animation: scaleBorder 1s linear;
  }

  &:hover {
    border-color: rgba($secondary, 0.4);
    // padding: 45%;
  }
}

@keyframes scaleBorder {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  60% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  //   90% {
  //     transform: translate(-50%, -50%) scale(0.8);
  //   }
}

@keyframes scaleIcon {
  0% {
    fill: transparent;
  }

  30% {
    transform: scale(0.7);
    fill: transparent;
  }

  40% {
    transform: scale(1);
    fill: rgba($secondary, 0.8);
  }
  100% {
    transform: scale(1);
    fill: $secondary;
  }
}
