@use '../index.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: $dark;
  color: $light;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

span,
a {
  display: inline-block;
}

svg {
  max-width: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include tablet {
    max-width: 720px;
  }

  @include mobile {
    max-width: 540px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Gutter
@for $i from 0 through 6 {
  .gx-grid-#{$i} {
    --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
  }
  .gy-grid-#{$i} {
    --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
  }

  @include mobile {
    .gx-grid-sm-#{$i} {
      --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
    .gy-grid-sm-#{$i} {
      --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
  }

  @include tablet {
    .gx-grid-md-#{$i} {
      --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
    .gy-grid-md-#{$i} {
      --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
  }
}
@for $i from 0 through 6 {
  .gx-#{$i} {
    --gutter-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
  }
  .gy-#{$i} {
    --gutter-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
  }

  @include mobile {
    .gx-sm-#{$i} {
      --gutter-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
    .gy-sm-#{$i} {
      --gutter-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
  }

  @include tablet {
    .gx-md-#{$i} {
      --gutter-x: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
    .gy-md-#{$i} {
      --gutter-y: calc(calc(#{$i} * 0.5) * 1rem) !important;
    }
  }
}
// Flexbox
.d-flex {
  // --gutter-x: 0;
  // --gutter-y: 0;
  display: flex;
  @include gutterFlex(row);
}

.flex-wrap {
  flex-wrap: wrap;
}

@include mobile {
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
}

@include tablet {
  .flex-md-wrap {
    flex-wrap: wrap;
  }
}

@each $direction in $flex-direction {
  .flex-#{$direction} {
    flex-direction: $direction;
    @include gutterFlex($direction);
  }
  @include mobile {
    .flex-sm-#{$direction} {
      flex-direction: $direction;
      @include gutterFlex($direction);
    }
  }

  @include tablet {
    .flex-md-#{$direction} {
      flex-direction: $direction;
      @include gutterFlex($direction);
    }
  }
}

@each $key, $value in $justify-content {
  .justify-content-#{$key} {
    justify-content: $value;
  }

  @include mobile {
    .justify-content-sm-#{$key} {
      justify-content: $value;
    }
  }

  @include tablet {
    .justify-content-md-#{$key} {
      justify-content: $value;
    }
  }
}

@each $key, $value in $align-items {
  .align-items-#{$key} {
    align-items: $value;
  }

  @include mobile {
    .align-items-sm-#{$key} {
      align-items: $value;
    }
  }

  @include tablet {
    .align-items-md-#{$key} {
      align-items: $value;
    }
  }
}

// Spacing
.m-auto {
  margin: auto;
}

@for $i from -6 through 6 {
  // Margin
  .m-#{$i} {
    margin: $i * 0.5 + rem;
  }

  .mt-#{$i} {
    margin-top: $i * 0.5 + rem;
  }
  .mb-#{$i} {
    margin-bottom: $i * 0.5 + rem;
  }
  .ml-#{$i} {
    margin-left: $i * 0.5 + rem;
  }
  .mr-#{$i} {
    margin-right: $i * 0.5 + rem;
  }
  .mx-#{$i} {
    margin-inline: $i * 0.5 + rem;
  }
  .my-#{$i} {
    margin-block: $i * 0.5 + rem;
  }

  // Padding
  .p-#{$i} {
    padding: $i * 0.5 + rem;
  }

  .pt-#{$i} {
    padding-top: $i * 0.5 + rem;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.5 + rem;
  }
  .pl-#{$i} {
    padding-left: $i * 0.5 + rem;
  }
  .pr-#{$i} {
    padding-right: $i * 0.5 + rem;
  }
  .px-#{$i} {
    padding-inline: $i * 0.5 + rem;
  }
  .py-#{$i} {
    padding-block: $i * 0.5 + rem;
  }
}

// Styles color
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .cl-#{$name} {
    color: $color;
  }
}

// More
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}

.rounded {
  border-radius: 999px;
}

@for $i from 1 through 4 {
  .op-#{$i} {
    opacity: $i * 0.25;
  }
}
