@use '../index.scss' as *;

.skeleton-container {
  background-color: #f5f8fc;
}

.skeleton-text {
  color: transparent !important;
  width: 100%;
  border-radius: 1rem;
  // border-radius: 999px;
  -webkit-text-stroke: unset !important;
}

.skeleton-loading {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background: $skeleton-dark;
  }
  100% {
    background: $skeleton-light;
  }
}
