@use '../index.scss' as *;

.wrapper {
  height: $nav-height;

  .logo {
    width: 34px;
  }
}

.search-icon {
  width: 16px;
}

.search-field {
  font-size: 1.4rem;
  color: $light;
  line-height: 24px;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.5s;

  &:focus {
    border-bottom-color: $light;
  }
}
