@use '../index.scss' as *;

.wrapper {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 33, 35, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  z-index: 99 !important;

  .thumbnail {
    width: 49px;
    border-radius: 14px;
  }
  .thumbnail2 {
    border-radius: 28%;
  }

  .equalizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://media1.giphy.com/media/mXbQ2IU02cGRhBO2ye/giphy.gif),
      linear-gradient(180deg, rgba(29, 33, 35, 0.8) 0%, #1d2123 61.48%);
    background: url(https://media1.giphy.com/media/mXbQ2IU02cGRhBO2ye/giphy.gif);
    background-color: rgba($dark, 0.2);
    background-position: center;
    background-size: 100%;
    border-radius: inherit;
  }

  .duration-bar {
    --duration: 0;
    position: relative;
    width: 100%;
    background-color: rgba($white, 0.04);
    background-image: linear-gradient(to right, $secondary, $secondary);
    background-size: var(--duration) 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 4px;
    outline: none;
    cursor: pointer;

    transition: all 450ms ease-out;
    -webkit-appearance: none;
    appearance: none;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: var(--duration);
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1.5px solid $white;
      transition: all 50ms ease-out;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: var(--duration);
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transition: all 50ms ease-out;
      background-color: $secondary;
    }

    &:hover::before {
      width: 13px;
      height: 13px;
      border: 2px solid $light;
      box-shadow: 0 0 15px $secondary;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &::-webkit-slider-thumb {
      $size: 0px;
      -webkit-appearance: none;
      appearance: none;
      width: $size;
      height: $size;
      background: transparent;
    }
  }
}

.control-btn {
  width: 16px;
  cursor: pointer;
  transition: color 0.35s;

  &.active {
    color: $secondary;
  }
}

.play-btn {
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.3);

  .control-btn {
    width: 8.5px;
  }
}

.volume-icon {
  width: 18px;
}

.volume-bar.duration-bar {
  height: 3px;
  &::after {
    width: 7px;
    height: 7px;
  }
  &::before {
    width: 4px;
    height: 4px;
  }
  &:hover::before {
    width: 6px;
    height: 6px;
  }

  &::after,
  &::before {
    display: none;
    // opacity: 0;
  }
  &:hover::after,
  &:hover::before {
    display: block;
    // opacity: 1;
  }
}

.show-animation {
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0.7;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// volume
.volume-muted {
  color: rgba($white, 0.6);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -74%) rotate(130deg);
    width: 110%;
    height: 1px;
    border-radius: 999px;
    border: 2px solid $dark;

    background-color: $white;
  }

  & + input[type='range'] {
    background-image: linear-gradient(to right, transparent, transparent) !important;
  }
  & + input[type='range']:hover {
    background-image: linear-gradient(to right, $secondary, $secondary) !important;
  }
}
