@use '../index.scss' as *;

.nav-link {
  width: 24px;
  color: $light;
  opacity: 0.25;
  @include transition;

  &:hover {
    opacity: 1;
  }

  &.active {
    color: $secondary;
    opacity: 1;
  }
}

.heart-icon {
  fill: currentColor;

  .active & path:nth-child(2) {
    opacity: 1 !important;
    stroke-width: 1px !important;
    color: $white;
  }
}
