@use '../../index.scss' as *;

// Grid system
.row {
  // --gutter-grid-x: 1.5rem;
  // --gutter-grid-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gutter-grid-x));
  margin-right: calc(-1 * var(--gutter-grid-x));
  margin-top: calc(-1 * var(--gutter-grid-y));
  margin-bottom: calc(-1 * var(--gutter-grid-y));

  &.grid-column {
    flex-direction: column;
  }
}

// @for $i from 0 through 6 {
//   .gx-#{$i} {
//     --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem);
//   }
//   .gy-#{$i} {
//     --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem);
//   }

//   @include mobile {
//     .gx-sm-#{$i} {
//       --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem);
//     }
//     .gy-sm-#{$i} {
//       --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem);
//     }
//   }

//   @include tablet {
//     .gx-md-#{$i} {
//       --gutter-grid-x: calc(calc(#{$i} * 0.5) * 1rem);
//     }
//     .gy-md-#{$i} {
//       --gutter-grid-y: calc(calc(#{$i} * 0.5) * 1rem);
//     }
//   }
// }

.col-0 {
  display: none;
}
.col-fill {
  width: unset !important;
  max-width: unset !important;
  flex-grow: 1;
  padding-left: var(--gutter-grid-x);
  padding-right: var(--gutter-grid-x);
  padding-top: var(--gutter-grid-y);
  padding-bottom: var(--gutter-grid-y);
}

@include mobile {
  .col-sm-0 {
    display: none;
  }
  .col-sm-fill {
    width: unset !important;
    max-width: unset !important;
    flex-grow: 1;
    padding-left: var(--gutter-grid-x);
    padding-right: var(--gutter-grid-x);
    padding-top: var(--gutter-grid-y);
    padding-bottom: var(--gutter-grid-y);
  }
}
@include tablet {
  .col-md-0 {
    display: none;
  }
  .col-md-fill {
    width: unset !important;
    max-width: unset !important;
    flex-grow: 1;
    padding-left: var(--gutter-grid-x);
    padding-right: var(--gutter-grid-x);
    padding-top: var(--gutter-grid-y);
    padding-bottom: var(--gutter-grid-y);
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: ($i * 100 / 12) * 1%;
    max-width: ($i * 100 / 12) * 1%;
    padding-left: var(--gutter-grid-x);
    padding-right: var(--gutter-grid-x);
    padding-top: var(--gutter-grid-y);
    padding-bottom: var(--gutter-grid-y);
  }

  @include tablet {
    .col-md-#{$i} {
      width: ($i * 100 / 12) * 1%;
      max-width: ($i * 100 / 12) * 1%;
      padding-left: var(--gutter-grid-x);
      padding-right: var(--gutter-grid-x);
      padding-top: var(--gutter-grid-y);
      padding-bottom: var(--gutter-grid-y);
    }
  }

  @include mobile {
    .col-sm-#{$i} {
      width: ($i * 100 / 12) * 1%;
      max-width: ($i * 100 / 12) * 1%;
      padding-left: var(--gutter-grid-x);
      padding-right: var(--gutter-grid-x);
      padding-top: var(--gutter-grid-y);
      padding-bottom: var(--gutter-grid-y);
    }
  }
}
