@use '../../index.scss' as *;

.uppercase {
  text-transform: uppercase;
}
.capitalized {
  text-transform: capitalized;
}

// Styles Font size
@each $size in $font-size {
  .fz-#{$size} {
    font-size: $size + px;
  }
}

.bold {
  font-weight: bold;
}

@for $i from 1 through 6 {
  .max-line-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}
