@use '../../index.scss' as *;

// Tippy
.tippy-container {
  position: fixed;
  z-index: 99;
}

// Tooltip
.tooltip-wrapper {
  // fix max width
  max-width: 350px;
  max-height: 100vh;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
