@use '../index.scss' as *;

.category-btn {
  border: 1px solid currentColor;

  &.active {
    color: $black;
    background-color: $secondary;
    border-color: $secondary;
    opacity: 1;
  }
}

.collection-list {
  & > * {
    width: 20%;
    max-width: 20%;
  }
}
